.cta2_container {
    background-color: $light-color;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cta2_heading {
        z-index: 1;
        position: absolute;
        top: 4rem;
        font-size: 58.64px;
        font-weight: bold;
        text-align: center;
        background: $heading-cta2;
        -webkit-background-clip: text;
        color: transparent;
    }

    img {
        width: 100%;
        object-fit: contain;
    }
}