.button_container {
    display: flex;
    align-items: center;
    gap: .515rem;
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 43.44px;
    max-width: 7.574375rem;
    padding: .60125rem 1.221875rem;
    font-size: 7.82px;
    font-weight: bold;
    color: $primary-color;
    transition: .3s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: $primary-color;
        color: $light-color;
        
        .button_icon {
            color: $light-color;
        }
    }

    .button_icon {
        width: 11px;
        height: 11px;
        color: $primary-color;
        transition: .3s ease-in-out;
    }
}