.button_container {
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 43.44px;
    max-width: 7.574375rem;
    padding: .60125rem 1.221875rem;
    font-size: 7.82px;
    font-weight: bold;
    color: $primary-color;
}