.cta3_container {
    background: $background-cta3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.0725rem 10.954375rem;

    .cta3_paragraph {
        max-width: 30.21625rem;
        font-weight: bold;
        font-size: 56.03px;
        color: white;
    }
}