/* GRADIENTS */

$background-cta3: linear-gradient(135deg, rgba(42,38,106,1) 0%, rgba(67,62,153,1) 50%, rgba(42,38,106,1) 100%);
$heading-cta2: linear-gradient(90deg, rgba(67, 62, 152, 1) 0%, rgba(100, 59, 155, 1) 100%);
$indigoblue_to_fieryred: linear-gradient(90deg, rgba(67,62,153,1) 0%, rgba(239,75,50,1) 100%);


/* EXCLUSIVE */

$background-silo: #F9FAFF;
$background-sizevar: #F0F3FB;

$filter_one: rgb(189, 107, 20, .5);
$filter_half_one: rgb(189, 107, 20);
$filter_two: rgb(67, 62, 153, .5);
$filter_half_two: rgb(67, 62, 153);
$filter_three: rgb(180, 172, 55, .5);
$filter_half_three: rgb(180, 172, 55);

/* MAIN */

$primary-color: #2A266A;
$light-color: #FFFFFF;
