.showcase_container {
    background-color: $light-color;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .content {
        background-color: $light-color;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16.28875rem;

        .content_text {
            max-width: 39.25rem;
        }

        &:first-child {
            font-size: 41.7px;
            font-weight: bold;
            background: $indigoblue_to_fieryred;
            -webkit-background-clip: text;
            color: transparent;
        }

        &:last-child {
            font-size: 16.94px;
            text-align: center;
            color: $primary-color;
        }
    }

    .hero_shot {
        width: 100%;
        object-fit: cover;
    }
}

/* Sections */

.closeup {
    position: relative;
    height: 53.75rem;
}

.installations, .dimension {
    height: 33.875rem;
}

.flatlay {
    height: 34.75rem;
}

.short_paragraph {
    width: 32.4375rem;
}

/* Dinamic */

.closer_look {
    position: absolute;
    top: 78%;
    background-color: $background-closer-look;
    padding: .520625rem .833125rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    border-radius: 133.33px;
    
    font-size: 13.33px;
    font-weight: 600;
    color: $light-color;

    .closer_look_icon_container {
        background-color: $background-icon-closer-look;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33px;
        height: 33px;
        border-radius: 20px;

        .closer_look_icon {
            width: 17px;
            height: 17px;
            color: $light-color;
        }
    }
}